body {
    margin-top: 0em;
    margin-left: 0em;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 20px;
}

p {
    font-size: 16px;
    color: hsl(0, 6%, 24%);
}

#heading-accent {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

.container {
    position: absolute;
    left: 50%;
    margin-left: -705px;
    top: 50%;
    margin-top: -400px;
}

.content-container {
    background-image: url(../images/bg-pattern-desktop.svg);
    float: left;
    height: 600px;
    width: 400px;
    padding: 100px 200px 100px 200px;
}

.image-container {
    float: left;
    width: min-content;
}

.hero-mobile {
    display: none;
}

.subscribe-form {
    border-radius: 30px;
    /* background-image: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%); */
    background-image: linear-gradient(-90deg, red, yellow);
    width: auto;
    height: 50px;
}

.subscribe-form-input {
   /*  border-width: 1.5px;
    border-color: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    border-right: none;
    border-radius: 30px; */
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    width: 70%; 
    height: 46px;
}

.subscribe-form-submit{
    height: 50px;
    width: 20%;
    border: none;
    border-radius: 30px;
    background-color: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    /* height: 60px; */
    
}

.form-icon {
    height: 3px;
}

/* Footer style */

.attribution {
    font-size: 11px;
    clear: both;
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 50%;
    margin-left: -60px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}